[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.8.4"
aiosignal = "==1.3.1"
alabaster = "==0.7.13"
appnope = "==0.1.3"
argcomplete = {file = "../../../../private/tmp/python-argcomplete-20231102-5270-xvppb5/argcomplete-3.1.4"}
asttokens = "==2.2.1"
async-generator = "==1.10"
async-timeout = "==4.0.2"
asynctest = "==0.13.0"
attrs = "==22.2.0"
babel = "==2.12.1"
backcall = "==0.2.0"
beautifulsoup4 = "==4.11.2"
black = "==23.3.0"
blis = "==0.7.9"
blobfile = "==2.0.2"
boto3 = "==1.26.118"
botocore = "==1.29.118"
bs4 = "==0.0.1"
cachetools = "==5.3.0"
catalogue = "==2.0.8"
certifi = "==2022.12.7"
cffi = "==1.15.1"
cfgv = "==3.3.1"
chardet = "==4.0.0"
charset-normalizer = "==3.1.0"
click = "==7.0"
clip = {ref = "a9b1bf5920416aaeaec965c25dd9e8f98c864f16", git = "git+https://github.com/openai/CLIP.git"}
colorama = "==0.4.6"
colorclass = "==2.2.2"
comm = "==0.1.3"
confection = "==0.0.4"
contourpy = "==1.0.7"
coverage = "==7.2.3"
cryptography = "==41.0.5"
cssselect = "==1.2.0"
cycler = "==0.11.0"
cymem = "==2.0.7"
darkdetect = "==0.7.1"
dateparser = "==1.1.8"
debugpy = "==1.6.7"
decorator = "==5.1.1"
deprecated = "==1.2.14"
distlib = "==0.3.6"
distro = "==1.8.0"
dnspython = "==2.3.0"
docker = "==6.0.1"
docutils = "==0.18"
duckduckgo-search = "==2.8.6"
einops = "==0.6.1"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl"}
encodec = "==0.1.1"
exceptiongroup = "==1.1.1"
executing = "==1.2.0"
fake-useragent = "==1.1.1"
feedparser = "==6.0.10"
filelock = "==3.10.7"
fire = "==0.5.0"
flake8 = "==6.0.0"
fonttools = "==4.39.3"
frozenlist = "==1.3.3"
fsspec = "==2023.4.0"
ftfy = "==6.1.1"
funcy = "==2.0"
gitdb = "==4.0.10"
gitpython = "==3.1.31"
google-api-core = "==2.11.0"
google-api-python-client = "==2.86.0"
google-auth = "==2.17.3"
google-auth-httplib2 = "==0.1.0"
googleapis-common-protos = "==1.59.0"
googlenews = "==1.6.10"
gtts = "==2.3.1"
h11 = "==0.14.0"
httplib2 = "==0.22.0"
huggingface-hub = "==0.14.0"
humanize = "==4.6.0"
identify = "==2.5.23"
idna = "==3.4"
imageio = "==2.28.1"
imagesize = "==1.4.1"
iniconfig = "==2.0.0"
ipykernel = "==6.22.0"
ipython = "==8.12.0"
ipywidgets = "==8.0.6"
isort = "==5.12.0"
jedi = "==0.18.2"
jieba = "==0.42.1"
jinja2 = "==3.1.2"
jmespath = "==1.0.1"
jsonschema = "==4.17.3"
jupyter-client = "==8.2.0"
jupyter-core = "==5.3.0"
jupyterlab-widgets = "==3.0.7"
kiwisolver = "==1.4.4"
langcodes = "==3.3.0"
lazy-loader = "==0.2"
loguru = "==0.7.0"
lxml = "==4.9.2"
markdown-it-py = "==3.0.0"
markupsafe = "==2.1.2"
matplotlib = "==3.7.1"
matplotlib-inline = "==0.1.6"
mccabe = "==0.7.0"
mdit-py-plugins = "==0.4.0"
mdurl = "==0.1.2"
mpmath = "==1.3.0"
multidict = "==6.0.4"
murmurhash = "==1.0.9"
mutagen = {file = "../../../../private/tmp/python-mutagen-20231008-5381-g1gbh9/mutagen-1.47.0"}
mypy-extensions = "==1.0.0"
myst-parser = "==2.0.0"
nest-asyncio = "==1.5.6"
netaddr = "==0.8.0"
networkx = "==3.1"
nodeenv = "==1.7.0"
numpy = "==1.24.3"
oauthlib = "==3.2.2"
openai = "==0.27.2"
opencv-python = "==4.7.0.72"
orjson = "==3.8.10"
outcome = "==1.2.0"
packaging = "==23.1"
pandas = "==2.0.3"
parso = "==0.8.3"
pathspec = "==0.11.1"
pathy = "==0.10.1"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
pillow = "==10.1.0"
pinecone-client = "==2.2.1"
pipenv = "==2023.3.20"
platformdirs = "==3.2.0"
playsound = "==1.2.2"
pluggy = "==1.0.0"
pre-commit = "==3.2.2"
preshed = "==3.0.8"
prompt-toolkit = "==3.0.38"
protobuf = "==4.25.0"
psutil = "==5.9.5"
ptyprocess = "==0.7.0"
pure-eval = "==0.2.2"
py-cpuinfo = "==9.0.0"
pyasn1 = "==0.5.0"
pyasn1-modules = "==0.3.0"
pycodestyle = "==2.10.0"
pycparser = "==2.21"
pycryptodomex = "==3.17"
pydantic = "==1.10.7"
pyflakes = "==3.0.1"
pygithub = "==2.1.1"
pygments = "==2.15.1"
pyjwt = "==2.8.0"
pynacl = "==1.5.0"
pyparsing = "==3.0.9"
pyqtdarktheme = "==2.1.0"
pyrsistent = "==0.19.3"
pyside6 = "==6.5.0"
pyside6-addons = "==6.5.0"
pyside6-essentials = "==6.5.0"
pysocks = "==1.7.1"
pytest = "==7.3.1"
pytest-asyncio = "==0.21.0"
pytest-benchmark = "==4.0.0"
pytest-cov = "==4.0.0"
pytest-integration = "==0.2.3"
pytest-mock = "==3.10.0"
python-dateutil = "==2.8.2"
python-dotenv = "==1.0.0"
pytz = "==2023.3"
pywavelets = "==1.4.1"
pyyaml = "==6.0"
pyzmq = "==25.0.2"
qdarkstyle = "==3.1"
qtpy = "==2.4.0"
readability-lxml = "==0.8.1"
redis = "==4.5.4"
regex = "==2023.3.23"
requests = "==2.28.2"
requests-oauthlib = "==1.3.1"
rsa = "==4.9"
s3transfer = "==0.6.0"
scikit-image = "==0.20.0"
scipy = "==1.10.1"
selenium = "==4.8.2"
sgmllib3k = "==1.0.0"
shiboken6 = "==6.5.0"
six = "==1.16.0"
smart-open = "==6.3.0"
smmap = "==5.0.0"
sniffio = "==1.3.0"
snowballstemmer = "==2.2.0"
sortedcontainers = "==2.4.0"
soundfile = "==0.12.1"
soupsieve = "==2.4"
spacy = "==3.4.4"
spacy-legacy = "==3.0.12"
spacy-loggers = "==1.0.4"
speedtest-cli = "==2.1.3"
sphinx = "==6.1.3"
sphinx-click = "==5.0.1"
sphinxcontrib-applehelp = "==1.0.7"
sphinxcontrib-devhelp = "==1.0.5"
sphinxcontrib-htmlhelp = "==2.0.4"
sphinxcontrib-jsmath = "==1.0.1"
sphinxcontrib-qthelp = "==1.0.6"
sphinxcontrib-serializinghtml = "==1.1.9"
srsly = "==2.4.6"
stack-data = "==0.6.2"
suno-bark = {file = "../../Documents/Github/bark"}
sympy = "==1.11.1"
termcolor = "==2.3.0"
terminaltables = "==3.1.10"
thinc = "==8.1.9"
tifffile = "==2023.4.12"
tiktoken = "==0.3.3"
tokenizers = "==0.13.3"
torch = "==2.0.0"
torchaudio = "==2.0.1"
torchvision = "==0.15.1"
tornado = "==6.3.1"
tqdm = "==4.65.0"
traitlets = "==5.9.0"
transformers = "==4.28.1"
trio = "==0.22.0"
trio-websocket = "==0.10.2"
twcc-cli = "==0.6.1"
tweepy = "==4.14.0"
typer = "==0.7.0"
typing-extensions = "==4.5.0"
tzdata = "==2023.3"
tzlocal = "==5.0.1"
uritemplate = "==4.1.1"
urllib3 = "==1.26.15"
virtualenv = "==20.21.0"
virtualenv-clone = "==0.5.7"
wasabi = "==0.10.1"
watchdog = "==3.0.0"
wcwidth = "==0.2.6"
webdriver-manager = "==3.8.6"
websocket-client = "==1.5.1"
widgetsnbextension = "==4.0.7"
wordcloud = "==1.9.2"
wrapt = "==1.15.0"
wsproto = "==1.2.0"
yarl = "==1.9.2"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
